  .modal-header {
    position: relative;
  }
  #cantidad{
    width: 30%;
    border: none;
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    text-align: center;
  }
  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
  .modal {
    
    position: absolute;
    transform: translate(30%);
    display: flex ;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 100%;
    
  }
  .modal-title {
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  h4{
    font-size: 30px;
  }

  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  .modal-content{
    display: flex;
    position: relative;
   font-size: 30px;
   
  }
  #botones{
    transform: translateX(10%)
  }
 