  .modal-header {
    position: relative;
  }
  #cantidad{
    width: 30%;
    border: none;
    background-color: transparent;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    text-align: center;
  }
  input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

 .stocki{
  position: fixed;
    translate: 50%;
    transform: translateY(-50%);
    height: 70%;
    width: 50%;
 }
  .modal {
    
    position: fixed;
    top: 0;
    left: 50%;
    
    
    translate: 60%;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    
    backdrop-filter: unset;
    z-index: 9999;
    
  }
  .modal-title {
    position: relative;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  h4{
    font-size: 30px;
  }

  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    
  }
  .modal-content{
    display: flex;
    position: relative;
   font-size: 30px;
   padding: 0px;
   margin: 0px;
   
  }
  #botones{
    transform: translateX(8%)
  }
  .formulario{
    margin-top: 10px;
  }
  .agregar{
    margin-top: 10px;
  }
 